@media screen and (min-width: 600px) {
    #word {
        font-size: 40px;
    }
    .sub-and-undo {
        font-size: 25px;
        width: 160px;
    }
    button {
        height: 80px;
        width: 80px;
        font-size: 50px;
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    .clicked-button {
        height: 80px;
        width: 80px;
        font-size: 50px;
        background-color: red;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .start-game-button {
        width: 106px;
        font-size: 25px;
    }
    .flex-container {
        padding: 5%;
        width: 650px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    #word-list {
        margin: 10px;
        font-size: 20px;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 294px;
        width: 200px;
        border: solid;
        border-color: black;
        text-align: center;
        overflow-anchor: none;
    }
    #timer {
        height: 70px;
        font-size: 50px;
        text-align: center;
        text-emphasis: bold;
    }
    .wrapper {
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .count-area {
        text-align: center;
        font-size: 20px;
    }
    header {
        text-align: center;
        font-size: 17px;
    }
}
@media screen and (min-width: 380px) and (max-width: 599px) {
    #word {
        font-size: 24px;
        text-align: center;
    }
    .sub-and-undo {
        font-size: 18px;
        width: 96px;
    }
    button {
        height: 48px;
        width: 48px;
        font-size: 30px;
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    .clicked-button {
        height: 48px;
        width: 48px;
        font-size: 30px;
        background-color: red;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .start-game-button {
        width: 64px;
        font-size: 15px
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 5%;
    }
    #word-list {
        padding: 10px;
        margin-left: 10px;
        font-size: 12px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 147px;
        width: 100px;
        border: solid;
        border-color: black;
        overflow-anchor: none;
    }
    #timer {
        height: 35px;
        font-size: 25px;
        text-align: center;
        text-emphasis: bold;
    }
    .wrapper {
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .count-area {
        text-align: center;
        font-size: 15px;
    }
    header {
        text-align: center;
        font-size: 10px;
    }
}
@media screen and (min-width: 1200px) {
    .sub-and-undo {
        font-size: 25px;
        width: 160px;
    }
    button {
        height: 80px;
        width: 80px;
        font-size: 50px;
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    .clicked-button {
        height: 80px;
        width: 80px;
        font-size: 50px;
        background-color: red;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .start-game-button {
        width: 106px;
        font-size: 25px
    }
    .flex-container {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    #word-list {
        padding: 10px;
        font-size: 15px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 294px;
        width: 200px;
        border: solid;
        border-color: black;
        overflow-anchor: none;
    }
    #timer {
        height: 70px;
        font-size: 50px;
        text-align: center;
        text-emphasis: bold;
    }
    .wrapper {
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .count-area {
        text-align: center;
        font-size: 20px;
    }
    header {
        text-align: center;
        font-size: 15px;
    }
}
@media screen and (max-width: 379px) {
    #word {
        font-size: 18px;
        text-align: center;
    }
    .sub-and-undo {
        font-size: 14px;
        width: 72px;
    }
    button {
        height: 36px;
        width: 36px;
        font-size: 23px;
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    .clicked-button {
        height: 36px;
        width: 36px;
        font-size: 23px;
        background-color: red;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .start-game-button {
        width: 96px;
        font-size: 12px
    }
    .flex-container {
        width: 350px;
        display: flex;
        flex-direction: row;
        margin: auto
    }
    #word-list {
        padding: 8px;
        margin-left: 8px;
        font-size: 9px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 112px;
        width: 75px;
        border: solid;
        border-color: black;
        overflow-anchor: none;
    }
    #timer {
        height: 26px;
        font-size: 18px;
        text-align: center;
        text-emphasis: bold;
    }
    .wrapper {
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .count-area {
        text-align: center;
        font-size: 12px;
    }
    header {
        text-align: center;
        font-size: 1em;
    }
}